* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tahoma", sans-serif;
}

body {
    background: #f6f6f6;
}

.navbar {
    width: 100%;
    padding: 15px 60px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
    width: 100px;        
    height: auto;       
    object-fit: contain; 
    cursor: pointer;    
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #2b6cb0;
}

.actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

.login-btn {
    padding: 8px 15px;
    border: none;
    background: #2b6cb0;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: #1a4f80;
}
.sections-grid {
    width: 70%;               /* كانت واسعة جداً → صغّرناها */
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* 2 فوق و2 تحت */
    gap: 25px;                /* المسافة بين المربعات */
    justify-items: center;    /* لتوسيط الكروت */
}



.section-card {
    width: 500px;       /* كان أصغر → كبرناه */
    height: 290px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    position: relative;
    cursor: pointer;
    transition: 0.3s ease;
}
.section-header {
    text-align: center;
    margin: 50px 0 30px;
}

.section-header h2 {
    font-size: 32px;
    font-weight: 700;
    color: #2b2b2b;
}

.section-header p {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
}


.section-card:hover {
    transform: translateY(-5px);
}

.section-card img {
    
    height: 100px;
    object-fit: cover;
}

.section-card h3 {
    margin: 12px 0;
    font-size: 20px;
    color: #333;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(43, 108, 176, 0.8);   
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    opacity: 0;
    font-size: 18px;
    transition: 0.3s;
}

.section-card:hover .overlay {
    opacity: 1;
}
